.adressWrapper:hover{
    background-color: grey;
    cursor: pointer;

}
body{
    text-align: center;
}
#ul{
    list-style: none;
}

::placeholder{
    text-align: center;
}
#search{
    margin-top:50px;
}